---
import UserWidget from '$lib/components/auth/Header.svelte';
---

<header class='root'>
  <div>
    <a href='/'>
      <h1>Memon</h1>
    </a>
  </div>
  <div>
    <UserWidget client:load />
  </div>
</header>

<style lang='scss'>
  .root {
    display: flex;
    justify-content: space-between;
  }
</style>